<% layout('./layouts/boilerplate') -%>
    <h1 class="text-center py-4">New Campground</h1>
    <div class="col-4 offset-4">
        <form class="d-inline" action="/campgrounds" method="post">
            <div class="mb-3">
                <label class="form-label" for="title">Camp Title</label>
                <input class="form-control" name="title" id="title" type="text">
            </div>
            <div class="mb-3">
                <label class="form-label" for="location">Location</label>
                <input class="form-control" name="location" id="location" type="text" placeholder="Suburb. State">
            </div>
            <div class="mb-3">
                <label class="form-label" for="iamge">Image URL</label>
                <input class="form-control" name="image" id="image" type="text" placeholder="https://example.com/">
            </div>
            <div class=" mb-3">
                <label class="form-label" for="price">Price</label>
                <div class="input-group">
                    <span class="input-group-text">$</span>
                    <input type="text" id="price" name="price" class="form-control" aria-label="" placeholder="0.00">

                </div>

            </div>
            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control" name="description" id="description" type="text"></textarea>
            </div>


            <button class="btn btn-primary px-4">Add</button>

        </form>
        <form class="d-inline float-end" action="/campgrounds"><button class="btn btn-primary px-3">Cancel</button>
        </form>
    </div>